
@media only screen and (max-width: 1680px){

    

    .nav li a{
        font-size: 18px;
        
    }

}

@media only screen and (max-width: 1600px){
    nav{
        width: 520px;

    }
    .cd-accordion-menu label, .cd-accordion-menu a {
        
        
        font-size: 16px;
      }
    
    .nav li a{
        font-size: 16px;
        
    }

    
    
}
@media only screen and (max-width: 1440px){

    .logo img{
        height: 38px; 
    }

    
    .nav li{
        margin: 30px;
        
    }

    .sign{
        font-size: 16px;
        padding: 10px 22px;
        
    
    }

    .index-content h1{
        font-size: 38px;
        
    }

    .h1-line::after{
        
        width: 260px;
        margin: 20px 0 30px;
    
    }

    .index-content p{
        font-size: 24px;
    
    }

    .learn-more{
        font-size: 16px;
    }

    .header{
        height: 90px;
    }
    nav{
        width: 490px;

    }
    .cd-accordion-menu label, .cd-accordion-menu a {
        
        font-size: 15px;
      }
      nav .menu-btn{
          top: 26px;
      }
    
}
@media only screen and (max-width: 1366px){
    
}
@media only screen and (max-width: 1280px){

    .nav li{
        margin: 20px;
        
    }
    .logo {
        margin-right: 2%;
    }

    .logo img{
        height: 36px; 
    }
    .sign{
        font-size: 16px;
        padding: 6px 18px;
        
    
    }

    .header{
        height: 80px;
          
    }

    nav{
        width: 440px;

    }
    .cd-accordion-menu label, .cd-accordion-menu a {
        
        font-size: 14px;
      }
      nav .menu-btn{
          
          zoom: .9;
      }
    
}

@media only screen and (max-width: 1165px){

    .logo img{
        height: 32px; 
    }



    .index-content h1{
        font-size: 32px;
        
    }

    .nav li{
        margin: 16px;
        
    }

    .nav li a{
        font-size: 14px;
        
    }

    .sign{
        font-size: 14px;
        padding: 4px 14px;
        
    
    }

    .header{
        height: 68px;
          
    }

    .index-content p{
        font-size: 20px;
    
    }
    .learn-more{
        font-size: 14px;
    }

    nav{
        width: 380px;

    }
    .cd-accordion-menu label, .cd-accordion-menu a {
        
        font-size: 13px;
      }
      nav .menu-btn{
          
          zoom: .8;
      }
    
    
}

@media only screen and (max-width: 1152px){

    .index-content h1{
        font-size: 34px;
        
    }
    
}
@media only screen and (max-width: 1024px){

    .logo img{
        height: 26px; 
    }

    .header{
        height: 62px;
          
    }

    .nav li{
        margin: 12px;
        
    }

    .nav li a{
        font-size: 12px;
        
    }
    .sign{
        font-size: 12px;
        padding: 6px 10px;
        
    
    }

    .index-content h1{
        font-size: 28px;
        
    }

    .learn-more{
        font-size: 12px;
    }

    .index-content p{
        font-size: 16px;
    
    }

    nav{
        width: 350px;

    }
    .cd-accordion-menu label, .cd-accordion-menu a {
        
        font-size: 12px;
      }
      nav .menu-btn{
          
          zoom: .7;
      }

    
    
}

@media only screen and (max-width: 960px){

    .nav{
        display: none;
    }

    .header{
        padding: 0 4%;
    }
    .sign{
        display: none;
    }
    .index-content h1{
        font-size: .34rem;
    }
    .learn-more{
        font-size: .26rem;
    }
    .shadow-white{
        font-weight: 200;
    }
    .h1-line::after{
        width: 2.4rem;
        margin: .2rem 0 .3rem;
        height: .0rem;
        border-radius: 0;
    }
    .index-content p{
        font-size: .26rem;
    }
    nav{
        width: 100%;

    }
    .cd-accordion-menu label, .cd-accordion-menu a {
        
        font-size: .2rem;
      }
      nav .menu-btn{
          
          zoom: .8;
      }
      nav .menu-btn {
        
        top: .3rem;
        left: -.8rem;
        
    }
}

@media only screen and (max-width: 768px){
    
}
@media only screen and (max-width: 640px){
    
}
@media only screen and (max-width: 414px){
    
}
@media only screen and (max-width: 375px){
    
}
@media only screen and (max-width: 325px){
    
}
