*{
    margin: 0;
    padding: 0;
    
}
html{
    box-sizing: border-box;

}
*,*::before,*::after{
    box-sizing: inherit;
}
html, body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:#000;
    margin: 0;
    padding: 0;
    

  }

  img{
      display: block;
  }
  ul,li{
      list-style: none;
  }
  a{
      text-decoration: none;
  }



  .index-lun{
      height: 100%;
  }


.header{
    /* border: 1px solid blue; */
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
    background: rgba(255, 255, 255, .3);
    display: flex;
    align-items: center;
    padding: 0 2%;;
    
}

.logo{
    margin-right: 6%;
    
}
.logo img{
    height: 42px;
    
    
}

.nav{
    /* border: 1px solid red; */
    display: flex;
    /* margin: 0 auto; */

}
.nav li{
    
    margin: 40px;
    
    

}
.nav li a{
    font-size: 18px;
    color: #fff;
    transition: .3s;

}

.nav-on a,.nav li a:hover{
    color: #99e164 !important;
    /* font-weight: bold; */
    transition: .3s;

}

.sign{
    display: block;
    font-size: 18px;
    color: #fff;
    background: #22ac38;
    /* line-height: 40px; */
    padding: 11px 22px;
    margin-left: auto;

}


.menu{
    width: 36px;
    margin-left: 40px;
    /* border: 1px solid red; */
}



.index-container {
    width: 100%;
    height: 100%;

}

.index-slide {
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;



}





.index-slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;




}



.index-content h1{
    opacity: 0;
    transition: 1.4s;
    position: relative;

}
.index-content h1:nth-of-type(1){
    top: 60px;
}

.index-content h1:nth-of-type(2){
    top: 100px;
}

.index-content h1:nth-of-type(3){
    top: 140px;
}



.swiper-slide-active .index-content h1{
    opacity: 1;
    position: relative;
    top: 0;
    
}

.swiper-slide-active .index-content h1:nth-of-type(1){
    transition: 1s;
}

.swiper-slide-active .index-content h1:nth-of-type(2){
    transition: 1.1s;
}

.swiper-slide-active .index-content h1:nth-of-type(3){
    transition: 1.2s;
}
    




.index-content p{
    opacity: 0;
    /* transition: 1.4s; */
    position: relative;

}


.index-content p:nth-of-type(1){
    top: 100px;
}

.index-content p:nth-of-type(2){
    top: 140px;
}

.index-content p:nth-of-type(3){
    top: 180px;
}


.swiper-slide-active .index-content p{
    opacity: 1;
    position: relative;
    top: 0;
    
}


.swiper-slide-active .index-content p:nth-of-type(1){
    transition: 1s;
}

.swiper-slide-active .index-content p:nth-of-type(2){
    transition: 1.2s;
}

.swiper-slide-active .index-content p:nth-of-type(3){
    transition: 1.4s;
}
    






.index-content .learn-more{
    opacity: 0;
    transition: 1.4s;
    position: relative;

}


.index-content .learn-more{
    top: 180px;
}


.swiper-slide-active .index-content .learn-more{
    opacity: 1;
    position: relative;
    top: 0;
    transition: 1.4s;
    
}







.index-content{

    text-align: center;
    line-height: 2;
    /* opacity: 0;
    transition: 1.4s;
    position: relative;
    top: 80px; */



}



.index-content-left{
    margin-right: auto;
    margin-left: 6.2%;
    text-align: left;
}

.index-content-right{
    margin-left: auto;
    margin-right: 0;
    margin-right: 6.2%;
    text-align: right;
}




.shadow{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.8px #000;
    text-shadow: 1px 2px 0px #ddd,
    -1px 1px 0px #000,
    3px 1px 0px #000,
    1px -1px 0px #000,
    1px 3px 0px #000,
    -1px 3px 0px #000,
    3px 3px 0px #000;
}

.shadow-white{
    letter-spacing: 2px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 2px 3px 0px #444,
    0px 2px 0px #fff,
    4px 2px 0px #fff,
    2px 0px 0px #fff,
    2px 4px 0px #fff,
    0px 4px 0px #fff,
    4px 4px 0px #fff;
}

.index-content h1{
    font-size: 50px;
    font-weight: 800;
    /* color: #fff; */
    /* color: transparent; */
    
    /*文字的填充色*/
    /* text-shadow: 2px 2px 1px #000; */

    /* text-shadow: 1px 1px 0px lightgray,2px 2px 0px #000; */
}

.h1-line::after{
    content: "";
    display: block;
    width: 270px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    margin: 24px 0 30px;

}


.index-content-right .h1-line::after{
    
    margin-left: auto;

}

.index-content p{
    font-size: 30px;
    line-height: 1.6;
    color: #fff;


}



.learn-more{
    display: inline-block;
    font-size: 20px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: .8px #000;
    font-weight: bold;
    padding: 2px 10px;
    background-color: rgba(0,0,0,.6);
    border-radius: 5px;
    margin-top: 40px;


}
.learn-more img{
    display: inline-block;
    margin-left: 14px;
    height: 16px;
    position: relative;
    top: 1px;
}


.ad-content{
    width: 100%;
    /* border: 1px solid yellow; */
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 2%;
    box-sizing: border-box;



}

.ad-content-left{
    justify-content: flex-start;
}

.ad-content a{
    display: block;
    margin: 0 10px;
}

.ad-content a img{
    height: 50px;
}


.down-img{
    width: 32px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%,0);
    
}
.down-img img{width: 100%;}


nav {
    overflow: hidden;
    position: fixed;
    transform: translateX(300px);
    height: 100%;
    width: 460px;
    right: 0;
    top: 0;
    /* transition: all 800ms cubic-bezier(.8, 0, .33, 1); */
    transition: 800ms;
    /* border-radius: 0% 0% 100% 50%; */
    z-index: 3;
    
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
    background: rgba(0, 0, 0, 0.9);
    padding: 0px 20px;
}

nav .menu-btn {
    position: absolute;
    top: 4%;
    left: 20%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}

nav .menu-btn .line {
    padding: 0;
    width: 36px;
    background: #fff;
    height: 4px;
    margin: 6px 0;
    /* transition: all 700ms cubic-bezier(.9, 0, .33, 1); */
    transition: 400ms;
    border-radius: 2px;
}

nav .menu-btn .line.line--1 {
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    transform: rotate(45deg) translateY(14px);

}

nav .menu-btn .line.line--2 {
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    transform: rotate(-45deg) translateY(-14px);

}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: translateX(100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
    padding: 80px 10px 40px;
}


nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
    
}





.cd-accordion-menu {
    
    /* background: #4d5158; */
    
    
  }
  .cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
  }
  .cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
  }
  .cd-accordion-menu label, .cd-accordion-menu a {
    position: relative;
    display: block;
    padding: 10px 18px 10px 64px;
    /* background: #4d5158;
    box-shadow: inset 0 -1px #555960; */
    color: #ffffff;
    font-size: 16px;
  }
  .no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
    background: #52565d;
  }
  .cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-accordion-menu label {
    cursor: pointer;
  }
  .cd-accordion-menu label::before{
    background-image: url(../img/cd-icons.svg);
    background-repeat: no-repeat;
  }
  /* .cd-accordion-menu label::before, .cd-accordion-menu label::after {
    background-image: url(../img/cd-icons.svg);
    background-repeat: no-repeat;
  } */
  .cd-accordion-menu label::before {
    /* arrow icon */
    left: 18px;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    transition: 400ms;
  }

  /* folder icons */
  /* .cd-accordion-menu label::after {
    
    left: 41px;
    background-position: -16px 0;
  } */

  /* image icon */
  /* .cd-accordion-menu a::after {
    
    left: 36px;
    background: url(../img/cd-icons.svg) no-repeat -48px 0;
  } */
  .cd-accordion-menu input[type=checkbox]:checked + label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-accordion-menu input[type=checkbox]:checked + label::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
  }

  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
  .cd-accordion-menu input[type=checkbox]:checked + label + ul,
  .cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    
    display: block;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    /* background: #35383d;
    box-shadow: inset 0 -1px #41444a; */
    padding-left: 82px;
  }
  .no-touch .cd-accordion-menu ul label:hover, .no-touch
  .cd-accordion-menu ul a:hover {
    background: #3c3f45;
  }
  .cd-accordion-menu > li:last-of-type > label,
  .cd-accordion-menu > li:last-of-type > a,
  .cd-accordion-menu > li > ul > li:last-of-type label,
  .cd-accordion-menu > li > ul > li:last-of-type a {
    box-shadow: none;
  }
  .cd-accordion-menu ul label::before {
    left: 36px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 59px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 100px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 54px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 118px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 95px;
  }
  
/* .has-children label{
    color: red;
} */
















